@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.estilo-letra, .contenedorshowindex, label, .contenedorshow, body a, body h2, body h1 {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiente-musica-top, .gradianteshow, .gradiante-index-3a4, .gradiante-index-2a3, .gradiante-index-1a2 {
  width: 100%;
  height: 4em;
}

.colornav {
  background-color: black;
}

.iconomenu {
  background-image: url(../assets/img/menu.png);
}

header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  margin-left: 50px;
  margin-right: 20px;
}
header nav ul li a.menua {
  color: #cc0404;
  font-size: medium;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Michroma", sans-serif;
}
header nav ul li a.clickear:hover, header nav ul li a.clickear:focus {
  color: red;
}

.estilo-letra, .contenedorshowindex, label, .contenedorshow, body a, body h2, body h1 {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiente-musica-top, .gradianteshow, .gradiante-index-3a4, .gradiante-index-2a3, .gradiante-index-1a2 {
  width: 100%;
  height: 4em;
}

body {
  background: #A20E0E;
}
body h1 {
  font-family: "Michroma", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding: 1% 0;
}
body h2 {
  font-family: "Michroma", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding: 1% 0;
}
body a {
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  font-size: medium;
}
body section {
  text-align: center;
  padding: 1% 0;
}
body ul {
  list-style: none;
}

.estilo-letra, .contenedorshowindex, label, .contenedorshow, body h1, body h2, body a {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiente-musica-top, .gradianteshow, .gradiante-index-3a4, .gradiante-index-2a3, .gradiante-index-1a2 {
  width: 100%;
  height: 4em;
}

.albumespag {
  display: inline-block;
  height: 100%;
  width: 28%;
  background-color: #000000;
  padding: 15px 0;
  border: 2px solid #cc0404;
  border-radius: 18px;
  gap: 1.5em;
}
.albumespag img {
  width: 90%;
  height: 90%;
  padding-bottom: 1em;
  padding-top: 0.5em;
}
.albumespag .iconosalbum {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.albumespag .iconosalbum img {
  width: 98%;
  height: 98%;
}
.albumespag h2 {
  color: #cc0404;
  font-size: 1.5em;
  font-family: "Michroma", sans-serif;
  padding-bottom: 0.7em;
  font-size: 1.1em;
}
.albumespag h3 {
  color: #cc0404;
  font-size: 1.5em;
  padding-bottom: 1em;
  font-family: "Michroma", sans-serif;
  font-size: 0.8em;
}

.separacion-albumes {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.albumespagindex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(hsla(0, 0%, 0%, 0.9), rgba(0, 0, 0, 0.9));
  width: 26%;
  padding: 1.5em;
  border: 2px solid #cc0404;
  border-radius: 15px;
  gap: 1.5em;
}
.albumespagindex .iconosalbum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding-bottom: 1em;
}
.albumespagindex .iconosalbum img {
  width: 96%;
  height: 96%;
}
.albumespagindex h3 {
  color: #cc0404;
  font-size: 1.5em;
  font-family: "Michroma", sans-serif;
}

.estilo-letra, .contenedorshowindex, label, .contenedorshow, body h1, body h2, body a {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiente-musica-top, .gradianteshow, .gradiante-index-3a4, .gradiante-index-2a3, .gradiante-index-1a2 {
  width: 100%;
  height: 4em;
}

.gradiante-index-1a2 {
  background: #000000;
  background: linear-gradient(180deg, rgb(0, 0, 0) 25%, rgb(124, 156, 180) 70%);
}

.gradiante-index-2a3 {
  background: #BCC0B8;
  background: linear-gradient(180deg, rgb(188, 192, 184) 23%, rgb(162, 14, 14) 78%);
}

.gradiante-index-3a4 {
  background: #A20E0E;
  background: linear-gradient(180deg, rgb(162, 14, 14) 35%, rgb(12, 11, 10) 88%);
}

.gradianteshow {
  background: #A20E0E;
  background: linear-gradient(0deg, rgb(162, 14, 14) 50%, rgb(12, 11, 10) 96%);
}

.gradiente-musica-top {
  background: #A20E0E;
  background: linear-gradient(0deg, rgb(162, 14, 14) 50%, rgb(12, 11, 10) 96%);
}

.estilo-letra, .contenedorshowindex, label, .contenedorshow, body h1, body h2, body a {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

.fotoduki {
  background-image: url(../assets/img/dukiworldtourbanner.png);
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.anchomenu {
  text-align: start;
  display: grid;
  margin: auto;
  width: 80%;
  padding-bottom: 2em;
}

.showmenu {
  display: flex;
  flex-direction: column;
}

.contenedorshow {
  font-size: large;
  display: grid;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "pais fecha lugar comprar";
  padding: 0.5em 5em;
  border-bottom: 2px solid black;
}
.contenedorshow a {
  text-decoration: underline;
}
.contenedorshow p, .contenedorshow h2, .contenedorshow h3 {
  font-family: "Kanit", sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.pais {
  grid-area: pais;
}

.fecha {
  grid-area: fecha;
}

.lugar {
  grid-area: lugar;
}

.comprar {
  grid-area: comprar;
}

@media (max-width: 768px) {
  .contenedorshow {
    grid-template-columns: 1fr;
    grid-template-areas: "pais" "fecha" "lugar" "comprar";
    padding: 1em;
    gap: 0.5em;
  }
}
.estilo-letra, .contenedorshowindex, label, body h1, body h2, body a, .contenedorshow {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

.contenedor-contactoyfoto {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "foto cuestionario cuestionario cuestionario cuestionario";
}

.foto-contacto {
  grid-area: foto;
}
.foto-contacto img {
  width: 80%;
  height: 80%;
  border-radius: 200px;
  border: 3px solid red;
}

.maincontacto {
  flex: 1;
  padding-top: 1em;
  padding-bottom: 10em;
}

label {
  font-family: "Kanit", sans-serif;
}

.contactopag {
  text-align: start;
  display: grid;
  margin: auto;
  width: 90%;
  grid-area: cuestionario;
}

.barra25 {
  width: 25%;
  min-width: 200px;
}

.barra50 {
  width: 50%;
  min-width: 300px;
}

.cont-corr-num {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.botonenviar {
  color: white;
  border: 2px solid #cc0404;
  background-color: #000000;
  font-family: "Kanit", sans-serif;
}
.botonenviar:hover {
  background-color: #000000;
  border: 2px solid #cc0404;
  color: red;
}

.bordecontacto {
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .contenedor-contactoyfoto {
    display: flex;
    flex-direction: column-reverse;
  }
}
.estilo-letra, .contenedorshowindex, body h1, body h2, body a, .contenedorshow, label {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

.fotodwt {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.781), rgba(0, 0, 0, 0.781)), url(../assets/img/dukiwtbanner.jpg);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  justify-content: space-between;
}

.h1index {
  color: #cc0404;
}

.contenedor-grilla-index {
  display: flex;
  flex-direction: row;
}

.anchomenu-i {
  display: flex;
  flex-direction: column;
}

.contenedorshowindex {
  font-size: large;
  display: grid;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "pais fecha lugar";
  padding: 0.5em 5em;
}
.contenedorshowindex p {
  font-family: "Kanit", sans-serif;
  font-size: 0.5em;
  color: white;
  margin: 0;
  text-align: center;
}

.pais-i {
  grid-area: pais;
}

.fecha-i {
  grid-area: fecha;
}

.lugar-i {
  grid-area: lugar;
}

.texto-rojo {
  color: #cc0404;
}

@media (max-width: 768px) {
  .contenedorshowindex {
    grid-template-columns: 1fr;
    grid-template-areas: "pais" "fecha" "lugar";
    padding: 0.5em;
    gap: 0.5em;
  }
}
.banner-ameri {
  background-image: linear-gradient(hsla(0, 100%, 99%, 0.101), rgba(255, 255, 255, 0.101)), url(../assets/img/ameribanner.jpg);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 4em;
  justify-content: space-around;
  align-items: center;
}

.banner-galeria-index {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.61), rgba(0, 0, 0, 0.604)), url(../assets/img/dukibannersecciongaleria.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: end;
  padding: 4em 6em;
}

.contenedor-fotos-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 50%;
}
.contenedor-fotos-index h2, .contenedor-fotos-index a {
  color: white;
}

.galeria-index {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.fotosindex img {
  width: 8em;
  height: 8em;
}

.estilo-letra, body h1, body h2, body a, .contenedorshow, label, .contenedorshowindex {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

.fotosgaleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: auto;
  justify-items: center;
  align-items: center;
  gap: 0.8em;
}

.videos {
  padding-bottom: 1em;
}

.tamaño-carrousel {
  width: 70%;
}

@media (max-width: 768px) {
  .fotosgaleria {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;
  }
  .fotosgaleria img {
    width: 98%;
    height: 100%;
  }
}
.carrousel-boton-adelante {
  background-image: url(../assets/img/flechaderecha.png);
  width: 3em;
  height: 3em;
}

.carrousel-boton-atras {
  background-image: url(../assets/img/flechaizquierda.png);
  width: 3em;
  height: 3em;
}

.estilo-letra, body h1, body h2, body a, .contenedorshow, label, .contenedorshowindex {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .logosfoot, footer .redesfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

footer {
  background-color: black;
  padding: 12px 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .redesfoot {
  padding-right: 30%;
  justify-content: space-evenly;
}
footer .logosfoot {
  padding-left: 15%;
}

.estilo-letra, body h1, body h2, body a, .contenedorshow, label, .contenedorshowindex {
  color: black;
  text-transform: uppercase;
}

.containersfoot, footer .redesfoot, footer .logosfoot {
  display: flex;
  gap: 2em;
}

.gradientes-general, .gradiante-index-1a2, .gradiante-index-2a3, .gradiante-index-3a4, .gradianteshow, .gradiente-musica-top {
  width: 100%;
  height: 4em;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
  body, html {
    margin: 0;
    padding: 0;
  }
  header {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  header img {
    height: 70%;
    width: 70%;
  }
  nav ul {
    flex-direction: column;
    align-items: start;
  }
  nav ul li {
    margin-left: 0;
  }
  section h1, section h2 {
    font-size: 1.6em;
    padding: 0.5em 0;
  }
  section img {
    padding-top: 1em;
    width: 75%;
    height: 75%;
  }
  a {
    font-size: 90%;
  }
  .textogrande {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .h-margin-arriba {
    margin-top: 0.3em;
  }
  .cuadrado-negro-mobile {
    background-color: black;
    width: 100%;
    height: 25em;
  }
  .fotodwt {
    padding: 2em 1em;
    gap: 1.5em;
  }
  .banner-ameri {
    padding-bottom: 2em;
  }
  .banner-galeria-index {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.61), rgba(0, 0, 0, 0.604)), url(../assets/img/dukibannersecciongaleriamobile.jpg);
    justify-content: center;
    padding: 0.5em;
    height: 400px;
  }
  .contenedor-fotos-index {
    width: 95%;
  }
  .fotosindex {
    height: 5em;
  }
  .fotosindex img {
    width: 5em;
    height: 5em;
  }
  .albumespag {
    display: inline-block;
    height: 95%;
    width: 85%;
    padding: 12px 0;
  }
  .albumespag .iconosalbum img {
    width: 90%;
    height: 94%;
  }
  .albumespagindex {
    height: 70%;
    width: 85%;
    padding: 12px 0;
    gap: 0.2em;
  }
  .albumespagindex img {
    width: 94%;
    height: 94%;
    padding-bottom: 1em;
  }
  .separacion-albumes {
    flex-direction: column;
  }
  .fotoduki {
    height: 500px;
  }
  .videos {
    width: 76%;
    height: 14em;
  }
  .tamaño-carrousel {
    width: 100%;
  }
  .maincontacto {
    padding-bottom: 5em;
  }
  .contactopag {
    width: 90%;
  }
  .cont-corr-num {
    flex-direction: column;
  }
  .barra25, .barra50 {
    width: 90%;
  }
  .foto-contacto {
    width: 1%;
    height: 1%;
  }
  .foto-contacto img {
    display: none;
  }
  .bordecontacto {
    padding-bottom: 1em;
  }
  footer {
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 12px 0;
  }
  footer .redesfoot {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
  }
  footer .redesfoot img {
    width: 90%;
    height: 90%;
  }
  footer .logosfoot {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    padding-bottom: 15px;
  }
}
@media (max-width: 360px) {
  .galeria-index {
    flex-wrap: wrap;
    padding: 0 3em;
    height: 12em;
  }
  .albumespagindex {
    height: 68%;
  }
  .banner-ameri {
    height: 780px;
  }
  .banner-galeria-index {
    height: 350px;
    padding: 1em 1em;
  }
  .no-display-360 {
    width: 0%;
    height: 0%;
  }
  .no-display-360 img {
    display: none;
  }
  .videos {
    height: 12em;
  }
}

/*# sourceMappingURL=style.css.map */
