//variables
$rojo-secundario: #cc0404;
$letra-principal: "Michroma", sans-serif;
$letra-secundaria: "Kanit", sans-serif;

//extends
.estilo-letra{
    color:black;
    text-transform: uppercase
}

.containersfoot{
    display: flex;
    gap:2em;
}

//mixins
@mixin albumesh ($tamanio, $padding) {
    color: $rojo-secundario;
    font-size: $tamanio;
    padding: $padding;
}