@import "../utilities/variables";

footer{
    background-color: black;
    padding: 12px 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .redesfoot{
        @extend .containersfoot;
        padding-right: 30%;
        justify-content: space-evenly;
    }
    .logosfoot{
        @extend .containersfoot;
        padding-left: 15%;
    }
}