@import "../utilities/variables";

@media (max-width: 768px){
    body {
        font-size: 16px;
        padding:10px;
    }
    body, html{
        margin: 0;
        padding: 0; 
    }
    header{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        img{
            height: 70%;
            width: 70%;
        }
    }
    nav{ 
        ul{
            flex-direction: column;
            align-items: start;
            li{
                margin-left: 0;
            }
        }
    }
    section{
        h1, h2{
            font-size:1.6em;
            padding: 0.5em 0;
        }
        img{
            padding-top: 1em;
            width: 75%;
            height: 75%;
        }
    }
    a{
        font-size: 90%;
    }

    .textogrande{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .h-margin-arriba{
        margin-top: 0.3em;
    }

    //index
    .cuadrado-negro-mobile{
        background-color: black;
        width: 100%;
        height: 25em;
    }

    .fotodwt{
        padding: 2em 1em;
        gap: 1.5em;
    }

    .banner-ameri{
        padding-bottom: 2em;
    }

    .banner-galeria-index{
        background-image: linear-gradient(hsla(0, 0%, 0%, 0.61), rgba(0, 0, 0, 0.604)), url(../../assets/img/dukibannersecciongaleriamobile.jpg);
        justify-content: center;
        padding: 0.5em;
        height: 400px;
    }
    .contenedor-fotos-index{
        width: 95%;
    }
    .fotosindex{
        height: 5em;
        img{
        width: 5em;
        height: 5em;
        }
    }

    //_album en responsive
    .albumespag{
        display: inline-block;
        height: 95%;
        width: 85%;
        padding: 12px 0;
        .iconosalbum img {
        width: 90%;
        height: 94%;
        }
    }

    .albumespagindex{
        height: 70%;
        width: 85%;
        padding: 12px 0;
        gap: 0.2em;
        img{
            width: 96%;
            height: 96%;
            padding-bottom: 1em;
        }
    }

    //Shows
    .fotoduki{
        height: 500px;
    }

    //videos de galeria
    .videos{
        width: 85%;
        height: 15em;
    }

    //adaptamiento responsive de la pagina de contacto
    .maincontacto{
        padding-bottom: 5em;
    }
    .contactopag{
        width: 90%;
    }
    .cont-corr-num{
        flex-direction: column;
    }
    .barra25, .barra50{
        width: 90%;
    }
    .foto-contacto{
        width: 1%;
        height: 1%;
        img{
            display: none;
        }
    }
    .bordecontacto {
        padding-bottom: 1em;
    }
    

    footer{
        flex-direction: column;
        gap:2em;
        width: 100%;
        height: 100%;
        padding: 12px 0;
        .redesfoot{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; 
            gap: 20px; 
            padding: 10px;
            img{
                width: 90%;
                height: 90%;
            }
        }
        .logosfoot{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; 
            gap: 30px; 
            padding: 10px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 360px){
    .galeria-index{
        flex-wrap: wrap;
        padding: 0 3em;
        height: 12em;
    }
    .albumespagindex{
        height: 68%;
    }
    .banner-ameri{
        height: 780px;
    }
    .banner-galeria-index{
        height: 350px;
        padding: 1em 1em;
    }
    .no-display-360{
        width: 0%;
        height: 0%;
        img{
            display: none;
        }
    }
}