@import "../utilities/variables";

@media (max-width: 768px){
    body {
        font-size: 16px;
        padding:10px;
    }
    body, html{
        margin: 0;
        padding: 0; 
    }
    header{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        img{
            height: 70%;
            width: 70%;
        }
    }
    nav{ 
        ul{
            flex-direction: column;
            align-items: start;
            li{
                margin-left: 0;
            }
        }
    }
    section{
        h2{
            font-size:1.8em;
            padding-top: 0.8em;
        }
        img{
            padding-top: 1em;
            width: 75%;
            height: 75%;
        }
    }
    a{
        font-size: 90%;
    }

    .textogrande{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    //index
        .cuadrado-negro-mobile{
        background-color: black;
        width: 100%;
        height: 25em;
    }

    //_album en responsive
    .albumespag{
        display: inline-block;
        height: 95%;
        width: 65%;
        background-color: #000000;
        padding: 12px 0;
        border: 2px solid $rojo-secundario;
        border-radius: 15px;
        h3{
            padding-top: 1em;
        }
        .iconosalbum img {
        width: 2em;
        height: 3em;
        }
    }

    //fotos que se encuentran dentro del index
    .fotosindex{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
        img{
            width: 150px;
            height: 150px;
        }
    }

    //videos de galeria
    .videos{
        width: 85%;
        height: 15em;
    }

    //adaptamiento responsive de la pagina de contacto
    .contactopag{
        width: 90%;
    }
    .cont-corr-num{
        flex-direction: column;
    }
    .barra25, .barra50{
        width: 90%;
    }

    footer{
        flex-direction: column;
        gap:2em;
        width: 100%;
        height: 100%;
        padding: 12px 0;
        .redesfoot{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; 
            gap: 20px; 
            padding: 10px;
            img{
                width: 90%;
                height: 90%;
            }
        }
        .logosfoot{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; 
            gap: 30px; 
            padding: 10px;
            padding-bottom: 15px;
        }
    }
}
