@import "../utilities/variables";

.fotosgaleria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: auto;
    justify-items: center;
    align-items: center;
    gap: 0.8em;
}

.videos{
    padding-bottom: 1em;
}

.tamaño-carrousel{
    width: 70%;
}

@media (max-width: 768px) {
    .fotosgaleria{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;
    img{
        width: 98%;
        height: 100%;
    }
    }
}

.carrousel-boton-adelante{
    background-image: url(../assets/img/flechaderecha.png);
    width: 3em;
    height: 3em;
}

.carrousel-boton-atras{
    background-image: url(../assets/img/flechaizquierda.png);
    width: 3em;
    height: 3em;
}