@import "../utilities/variables";

//gradiantes
.gradiante-index-1a2{
    width: 100%;
    height: 4em;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(124, 156, 180, 1) 70%);
}
.gradiante-index-2a3{
    width: 100%;
    height: 4em;
    background: #BCC0B8;
    background: linear-gradient(180deg, rgba(188, 192, 184, 1) 23%, rgba(162, 14, 14, 1) 78%);
}
.gradiante-index-3a4{
    width: 100%;
    height: 4em;
    background: #A20E0E;
    background: linear-gradient(180deg, rgba(162, 14, 14, 1) 35%, rgba(12, 11, 10, 1) 88%);
}

//apartado Duki World Tour
.fotodwt{
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.781), rgba(0, 0, 0, 0.781)), url(../../assets/img/dukiwtbanner.jpg);
    height: 800px;
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
    justify-content: space-between;
}

.h1index{
    color: $rojo-secundario;
}

.contenedor-grilla-index{
    display: flex;
    flex-direction: row;
}

.anchomenu-i{
    display: flex;
    flex-direction: column;
}

.contenedorshowindex{
    @extend .estilo-letra;
    font-size: large;
    display: grid;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "pais fecha lugar";
    padding: 0.5em 5em;
    p{
        font-family: $letra-secundaria;
        font-size: 0.5em;
        color: white;
        margin: 0;
        text-align: center;
    }
}

.pais-i{
    grid-area: pais;
    }
.fecha-i{
    grid-area: fecha;
    }
.lugar-i{
    grid-area: lugar;
}

.texto-rojo{
    color: $rojo-secundario;
}

@media (max-width: 768px){
    .contenedorshowindex{
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "pais"
            "fecha"
            "lugar";
        padding: 0.5em;
        gap: 0.5em; 
    }
}

//Ameri
.banner-ameri{
    background-image: linear-gradient(hsla(0, 100%, 99%, 0.101), rgba(255, 255, 255, 0.101)), url(../../assets/img/ameribanner.jpg);
    height: 800px;
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-bottom: 4em;
    justify-content: space-around;
    align-items: center;
}

//Galeria
.banner-galeria-index{
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.61), rgba(0, 0, 0, 0.604)), url(../../assets/img/dukibannersecciongaleria.jpg);
    height: 600px;
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: end;
    padding: 4em 6em;
}

.contenedor-fotos-index{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    h2, a{
        color: white;
    }
}

.galeria-index{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.fotosindex{
    gap: 1em;
    img{
        width: 8em;
        height: 8em;
    }
}