.showmenu{
    color: black;
    font-size: large;
    font-family: "Carme", sans-serif;
    text-transform: uppercase;
    }

.showmenu a{
    text-decoration: underline;
    }

.tablasshow{
    display:grid;
    width: 90%;
    height: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "pais fecha lugar comprar"
    "pais fecha lugar comprar"
    "pais fecha lugar comprar"
    "pais fecha lugar comprar"
    "pais fecha lugar comprar";
    }

.paissh{
    grid-area: pais;
    }
.paissh p{
    border: #000000 solid 1px;
    }

.fechash{
    grid-area: fecha;
    }
.fechash p{
    border: #000000 solid 1px;
    }

.lugarsh{
    grid-area: lugar;
    }
.lugarsh p{
    border: #000000 solid 1px;
    }

.comprarsh{
    grid-area: comprar;
    }
.comprarsh p{
    border: #000000 solid 1px;
    }
    
.fotoduki{
    padding-top: 1%;
    }

.tdrtexto h3{
    font-size: 1.4em;
}

.fotosgaleria{
    padding-bottom: 0.23em;
}

@media (max-width: 768px){
    body {
        font-size: 16px;
        padding:10px;
    }

    body, html{
        margin: 0;
        padding: 0;
    }

    header{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    header img{
        height: 70%;
        width: 70%;
    }
    
    nav ul{
        flex-direction: column;
        align-items: start;
    }
    nav ul li{
        margin-left: 0;
    }
    
    section h2{
        font-size:1.8em;
        padding-top: 0.8em
    }

    a{
        font-size: 90%;
    }

    section img{
        padding-top: 1em;
        width: 75%;
        height: 75%;
    }

    .albumespag{
        display: inline-block;
        height: 95%;
        width: 65%;
        background-color: #000000;
        padding: 12px 0;
        border: 2px solid #cc0404;
        border-radius: 15px;
    }

    .albumespag h3{
        padding-top: 1em;
    }

    .iconosalbum img {
        width: 2em;
        height: 3em;
    }

    .fotosindex{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
    }

    .fotosindex img{
        width: 150px;
        height: 150px;
    }

    .videos{
        width: 90%;
        height: 90%;
    }

    .contactopag{
        width: 90%;
    }

    .cont-corr-num{
        flex-direction: column;
    }

    .barra25, .barra50{
        width: 90%;
    }

    footer{
        flex-direction: column;
        gap:2em;
        width: 100%;
        height: 100%;
    }

    footer .redesfoot{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 20px; 
        padding: 10px; 
    }

    footer .logosfoot{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 30px; 
        padding: 10px;
        padding-bottom: 15px;
    }
}





